boto3     # AWS SDK for Python
pymongo
 # MongoDB ODM
pandas     # Data manipulation library
requests   # For HTTP requests (optional)
numpy      # Numeric operations (optional)
scikit-learn   # Machine learning models (optional)
nltk          # Text processing (optional)
transformers
torch
spacy
yake
vaderSentiment